body {
   background: radial-gradient(circle, #f5f119e0 7%, #f8c22f 10%, #d1511e 40%);
   font-family: 'Cinzel', serif;
   color: white;
}

#nav-bar-list {
   list-style: none;
   margin: 5px;
   padding: 0px;
}

.nav-bar-li {
   display: inline-block;
}

.right {
   float: right;
   display: none;
   font-size: 15px;
   padding-right: 15px;
}

.logo { 
   font-family: 'Cinzel', serif;
   font-size: 30px;
}

#login-form {
   margin: 0px;
   display: block;
   float: left;
   padding-left: 20px;
}

/* CSS GRID GENERATOR CODE */

.parent {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   height: 100%;
   width: 100%;
   }
   
#nav-bar { 
   grid-area: 1 / 1 / 2 / 6; 
   border-radius: 20px;
}

#character-display { 
   grid-area: 2 / 2 / 5 / 5; 
   border-radius: 20px;
}

#character-container { 
   grid-area: 2 / 1 / 6 / 2; 
   border: ridge #ffffff;
   border-radius: 20px;
   background: linear-gradient(290deg, #1b44fc, #8b10bb);
   display: none;
   Overflow: auto;
}

#current-items {
   grid-area: 5 / 2 / 6 / 5; 
   border: ridge #ffffff;
   border-radius: 20px;
   display: none;
   Overflow: auto;
   background: linear-gradient(215deg, #13bd92, #1b44fc);
}

#available-items { 
   grid-area: 2 / 5 / 6 / 6; 
   border: ridge #ffffff;
   border-radius: 20px;
   background: linear-gradient(215deg, #00db0baf, #13bd92);
   display: none;
   Overflow: auto;
}

#character-container h3 {
   text-align: center;
}

#character-display h3 {
   text-align: center;
}

#current-items h4 {
   border: none;
   margin-top: 5px;
   margin-left: 17px;
}

#available-items h3 {
   text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
   background-color: transparent;
   margin: auto;
   /* width: 350px; */
   width: 400px;
   /* height: 290px; */
   height: 300px;
   border: 1px solid #f1f1f1;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
 }
 
 /* This container is needed to position the front and back side */
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }
 
 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 /* Position the front and back side */
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
 }
 
 /* Style the front side (fallback if image is missing) */
 .flip-card-front {
   background-color: #2191ece7;
   color: white;
 }

 /* .flip-card-front img {
   object-fit: contain;
 }  */
 
 /* Style the back side */
 .flip-card-back {
   background-color: #2191ece7;
   color: white;
   transform: rotateY(180deg);
 }

 #character-form {
   display: none;
   float: right;
   padding: 20px;
   border-radius: 5px;
 }

 #item-form {
   display: none;
   float: right;
   padding: 20px;
   border-radius: 5px;
 }

 .padding {
    padding-left: 10px;
 }

 .close {
   right: 32px;
   top: 32px;
   width: 32px;
   height: 32px;
   opacity: 0.1;
   border: none;
 }

 .close:hover {
   opacity: 1;
 }

 .close:before, .close:after {
   left: 15px;
   height: 33px;
   width: 2px;
   background-color: #3d5a3f;
   border: 0px dashed rgba(0, 0, 0, 0);
 }

 .close:before {
   transform: rotate(45deg);
 }

 .close:after {
   transform: rotate(-45deg);
 }

 #inventory-list {
   list-style: none;
 }
 
 .inventory-items{
   display: inline-block;
   padding: 10px;
 }

#create-character {
   border-radius: 5px;
   padding: 5px;
}

#create-item {
   border-radius: 5px;
   padding: 5px;
}

#create-character:hover {
   background-color: rgba(0, 0, 0, 0.705);
   color: white;
}

 #create-item:hover {
   background-color: rgba(0, 0, 0, 0.705);
   color: white;
 }